# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# VS Code
.vscode/

# Logs
logs/
*.log
*.log.*

# Mac system files
.DS_Store

# Test files and scratch files (optional)
*.test.maga
test*.maga

# Optional build artifacts or temporary files
dist/
build/
.cache/

# Ignore editor/IDE junk
*.swp
*.swo
.idea/
